<!-- public/products-template.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>&nbsp;</title>
  <style>
    #print-body * {
      all: revert;
      font-family: 'Arial', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    #print-body table.information td {
      border: 0;
      vertical-align: top;
    }

    #print-body table.data {
      margin-top: 0.5rem;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }

    #print-body table.data th {
      padding: 0.5rem;
      border: 1px solid #cdcdcd;
    }

    #print-body table.data td {
      padding: 0.5rem;
      border: 1px solid #cdcdcd;
    }
  </style>
</head>

<body>
  <div id="print-body" style="width: 760px; background-color: white; padding: 10px">
    <div>
      <table style="width: 100%">
        <tr>
          <td style="width: 50%">
            <p>{{ organization.name }} </p>
            <p>{{ formatPhone organization.phone }} </p>
          </td>
          <td style="width: 50%; text-align:right">
            <p>Mã KH: C{{visit.customerId}}</p>
            <p>Mã Phiếu: VS{{visit.id}}</p>
          </td>
        </tr>
      </table>
      <div style="text-align: center; font-size: 1.8rem; font-weight: bold; line-height: 2.5">ĐƠN THUỐC</div>
      <table class="information">
        <tr>
          <td> Họ tên: </td>
          <td> {{ visit.customer.fullName }} </td>
          <td> - Ngày sinh: {{ timeToText visit.startedAt 'DD/MM/YYYY' }} </td>
        </tr>
        <tr>
          <td> SĐT : </td>
          <td> {{ formatPhone visit.customer.phone }} </td>
          <td style="white-space: no-wrap;"> - Giới tính: {{ getGenderText visit.customer.gender }} </td>
        </tr>
        <tr>
          <td>Địa chỉ: </td>
          <td colspan="2">
            {{ visit.customer.addressStreet }} -
            {{ visit.customer.addressWard }} -
            {{ visit.customer.addressDistrict }} -
            {{ visit.customer.addressProvince }}
          </td>
        </tr>
        <tr>
          <td style="width: 100px;">Chẩn đoán: </td>
          <td colspan="2">
            {{visit.visitDiagnosis.diagnosis}}
          </td>
        </tr>
      </table>
      <table class="data">
        <thead>
          <tr>
            <th style="width: 30px">#</th>
            <th>Tên</th>
            <th>ĐV</th>
            <th>SL</th>
          </tr>
        </thead>
        <tbody>
          {{#each visit.visitProductList}}
          <tr>
            <td>{{ plus @index 1 }}</td>
            <td>
              <div style="font-weight: 600;">{{ this.product.brandName }}</div>
              <div style="font-size: 0.9rem">{{ this.product.substance }}</div>
              <div style="font-size: 0.9rem; font-style: italic;">{{ this.hintUsage }}</div>
            </td>
            <td style="text-align: center;">{{ getUnitNameByVisitProduct this }}</td>
            <td style="text-align: center;">{{ this.quantity }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div style="text-align:right; font-style:italic; margin-top: 1rem">
        {{ timeToText visit.startedAt 'DD/MM/YYYY'}}
      </div>
      <table style="width: 100%; margin-top: 0.5rem">
        <tr>
          <td style="width: 70%;">
            <div style="font-style: italic; text-decoration: underline;">Lời dặn: </div>
            <div style="padding-top: 10px;">
              {{{ visit.visitDiagnosis.advice }}}
            </div>
          </td>
          <td style="width: 30%; text-align: center; vertical-align: top;"> Bác sĩ khám bệnh </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>