<!-- public/products-template.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>&nbsp;</title>
  <style>
    #print-body * {
      all: revert;
      font-family: 'Arial', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    #print-body table.information td {
      border: 0;
      vertical-align: top;
    }

    #print-body table.data {
      margin-top: 0.5rem;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }

    #print-body table.data th {
      padding: 0.5rem;
      border: 1px solid #cdcdcd;
    }

    #print-body table.data td {
      padding: 0.5rem;
      border: 1px solid #cdcdcd;
    }
  </style>
</head>

<body>
  <div id="print-body" style="width: 760px; background-color: white; padding: 10px">
    <div>
      <table style="width: 100%">
        <tr>
          <td style="width: 50%">
            <p>{{ organization.name }} </p>
            <p>{{ formatPhone organization.phone }} </p>
          </td>
          <td style="width: 50%; text-align:right">
            <p>Mã KH: C{{visit.customerId}}</p>
            <p>Mã Phiếu: VS{{visit.id}}</p>
          </td>
        </tr>
      </table>
      <div style="text-align: center; font-size: 1.8rem; font-weight: bold; line-height: 2.5">HÓA ĐƠN</div>
      <table class="information">
        <tr>
          <td> Họ tên: </td>
          <td> {{ visit.customer.fullName }} </td>
          <td> - Ngày sinh: {{ timeToText visit.startedAt 'DD/MM/YYYY' }} </td>
        </tr>
        <tr>
          <td> SĐT : </td>
          <td> {{ formatPhone visit.customer.phone }} </td>
          <td style="white-space: no-wrap;"> - Giới tính: {{ getGenderText visit.customer.gender }} </td>
        </tr>
        <tr>
          <td>Địa chỉ: </td>
          <td colspan="2">
            {{ visit.customer.addressStreet }} -
            {{ visit.customer.addressWard }} -
            {{ visit.customer.addressDistrict }} -
            {{ visit.customer.addressProvince }}
          </td>
        </tr>
        <tr>
          <td style="width: 100px;">Chẩn đoán: </td>
          <td colspan="2">
            {{visit.visitDiagnosis.diagnosis}}
          </td>
        </tr>
      </table>
      <table class="data">
        <thead>
          <tr>
            <th style="width: 30px">#</th>
            <th>Tên</th>
            <th>ĐV</th>
            <th>SL</th>
            <th>Giá</th>
            <th>T.Tiền</th>
          </tr>
        </thead>
        <tr>
          <th colspan="6" style="text-align: left; text-transform: uppercase;">I. Dịch vụ thủ thuật</th>
        </tr>
        </thead>
        <tbody>
          {{#each visit.visitProcedureList}}
          <tr>
            <td>{{ plus @index 1 }}</td>
            <td colspan="2">{{ this.procedure.name }}</td>
            <td style="text-align: center;">{{ this.quantity }}</td>
            <td style="text-align: right;">
              {{#if (boolean this.discountMoney 0)}}
              <div style="font-size: 0.9rem; color:red; font-style: italic; text-decoration: line-through;">
                {{ formatNumber this.expectedPrice }}
              </div>
              {{/if}}
              <div> {{ formatNumber this.actualPrice }} </div>
            </td>
            <td style="text-align: right;">{{ formatNumber (multiply this.actualPrice this.quantity) }}</td>
          </tr>
          {{/each}}
          <tr>
            <td colspan="5" style="text-align: right; text-transform: uppercase;">
              Tổng tiền dịch vụ - thủ thuật
            </td>
            <td style="text-align: right; font-weight: bold">
              {{ formatNumber visit.proceduresMoney }}
            </td>
          </tr>
        </tbody>
        <tr>
          <th colspan="6" style="text-align: left; text-transform: uppercase;">II. Thuốc - Vật tư</th>
        </tr>
        <tbody>
          {{#each visit.visitProductList}}
          <tr>
            <td>{{ plus @index 1 }}</td>
            <td>
              <div>{{ this.product.brandName }}</div>
              <div style="font-size: 0.9rem; font-style: italic;">{{ this.product.substance }}</div>
            </td>
            <td style="text-align: center;">{{ getUnitNameByVisitProduct this }}</td>
            <td style="text-align: center;">{{ this.quantity }}</td>
            <td style="text-align: right;">
              {{#if (boolean this.discountMoney 0)}}
              <div style="font-size: 0.9rem; color:red; font-style: italic; text-decoration: line-through;">
                {{ formatNumber this.expectedPrice }}
              </div>
              {{/if}}
              <div>{{ formatNumber this.actualPrice }}</div>
            </td>
            <td style="text-align: right;">{{ formatNumber (multiply this.actualPrice this.quantity) }}</td>
          </tr>
          {{/each}}
          <tr>
            <td colspan="5" style="text-align: right; text-transform: uppercase;">Tổng tiền thuốc - vật tư </td>
            <td style="text-align: right; font-weight: bold">{{ formatNumber visit.productsMoney }}</td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: right; text-transform: uppercase; font-weight: bold">Tổng tiền </td>
            <td style="text-align: right; font-weight: bold">{{ formatNumber visit.totalMoney }}</td>
          </tr>
        </tbody>
      </table>
      <div style="text-align:right; font-style:italic; margin-top: 1rem">
        {{ timeToText visit.startedAt 'DD/MM/YYYY'}}
      </div>
      <table style="width: 100%; margin-top: 0.5rem">
        <tr>
          <td style="width: 30%; text-align: center;"> Khách hàng </td>
          <td style="width: 30%; text-align: center;"> </td>
          <td style="width: 30%; text-align: center"> Người thu tiền </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>